.productCard {
    margin-bottom: 20px;
    border: 1px solid var(--borderColor);
    border-radius: var(--BigBorderRadius);
    transition: var(--mainDuration);
}

.productCard:hover {
    transform: translate(4px, -4px);
    box-shadow: -4px 4px 0 0 var(--secondColor);
}

.productCard .card-img {
    width: 100%;
    height: 300px;
}

.productCard .card-img img {
    width: 100%;
    height: 100%;
    border-top-left-radius: var(--BigBorderRadius);
    border-top-right-radius: var(--BigBorderRadius);
}

.productCard .card-info {
    text-align: center;
    padding: 15px;
}

.productCard .card-info > * {
    margin-bottom: 5px;
    padding: 10px;
}

.productCard .card-info h4 {
    color: var(--mainColor);
    font-weight: bolder;
    padding-bottom: 0;
    font-size: 18px;
}

.productCard .card-info p {
    color: gray;
    font-size: 14px;
}

.productCard .card-info button a {
    color: var(--thirdColor);
    text-decoration: none;
}

.productCard .card-info button:hover a{
    color: var(--secondColor);
}