/* --------------------------------------
Global Rules
----------------------------------------- */
:root{
    --mainColor: red;
    --secondColor: black;
    --thirdColor: white;
    --borderColor: #ddd;
    --sectionPadding: 50px;
    --sectionMargin: 50px;
    --mainDuration: 0.4s;
}

* {
    padding: 0;
    margin: 0;
}

body {
    min-height: 100vh; 
    margin: 0; 
    
    display: grid;
    grid-template-rows: auto 1fr auto;
}

.container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* Small Screens */
@media (min-width: 768px) {
    .container {
        width: 750px;
    }
}

/* Medium Screens */
@media (min-width: 992px) {
    .container {
        width: 970px;
    }
}

/* Large Screens */
@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}