footer {
    width: 100%;
    background-color: var(--secondColor);
    color: var(--thirdColor);
    text-align: center;
}

footer p {
    padding: 20px;
    text-align: center;
}

footer p span a {
    text-decoration: none;
    color: var(--mainColor);
    font-weight: bolder;
}