.register {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}

.register .container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.register-title {
    color: var(--mainColor);
    text-align: center;
    font-weight: 800;
    font-size: 80px;
    letter-spacing: -4px;
}

.register-title + p {
    text-align: center;
    color: var(--secondColor);
    margin: -25px 0 0;
}

.register form {
    width: 45%;
    margin-top: 50px;
    padding: 20px;
    border: 1px solid var(--borderColor);
    border-radius: 15px;
    box-shadow: -4px 4px 0 0 var(--secondColor);
}

input, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}

button[type=submit],
a button {
    width: 100%;
    background-color: var(--secondColor);
    border: 1px solid var(--secondColor);
    border-radius: 5px;
    transition: 0.3s;
    color: var(--thirdColor);
    padding: 12px 20px;
    cursor: pointer;
}

button[type=submit]:hover,
a button:hover {
    background-color: var(--thirdColor);
    color: var(--secondColor);
    border-color: var(--mainColor);
    transform: scale(1.02);
}

.divider {
    display: flex;
    align-items: center;
}

form hr {
    display: inline-block;
    width: 46%;
    margin-top: 15px;
    margin-bottom: 15px;
}

form span {
    padding: 5px;
}