.contact {
    padding-top: var(--sectionPadding);
    padding-bottom: var(--sectionPadding);
}

.contact-title {
    color: var(--mainColor);
    text-align: center;
    font-weight: 800;
    font-size: 80px;
    letter-spacing: -4px;
}

.contact-title + p {
    text-align: center;
    color: var(--secondColor);
    margin: -25px 0 0;
}

.contact form {
    margin-top: 50px;
    padding: 20px;
    border: 1px solid var(--borderColor);
    border-radius: 15px;
    box-shadow: -4px 4px 0 0 var(--secondColor);
}

input[type=text], textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid var(--borderColor);
    border-radius: 5px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
}
  
button[type=submit] {
    width: 100%;
    background-color: var(--secondColor);
    border: 1px solid var(--secondColor);
    border-radius: 5px;
    transition: 0.3s;
    color: var(--thirdColor);
    padding: 12px 20px;
    cursor: pointer;
}
  
button[type=submit]:hover {
    background-color: var(--thirdColor);
    color: var(--secondColor);
    border-color: var(--mainColor);
    transform: scale(1.02);
}